html,body{height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.content{
    height: 100%;
}

#map_canvas1{background-color: #4486F4;}
#map_canvas2{background-color: #FFDD43;}
#map_canvas3{background-color: #DB4539;}
#map-container{
    height: 100%;
}

#map_canvas{
    width: 90%;
    height: 620px;
    margin: 0 auto;
}